page-about {
    
    .text-container{
        padding: 20px;
        text-align: justify;
        font-family: "Roboto";
        font-size: 14px;
        margin-top: 15%;
        }
    
    
    .vermas{
       margin-left: 25px;
      text-align: center;
        
        }
    
    .text-black{
      text-align: center;
        padding: 5%;
        
        }
    

}
