page-about {
    
    .text-container{
        padding: 20px;
        text-align: justify;
        font-family: "Roboto";
        font-size: 14px;
        }
    
    
    .vermas{
       margin-left: 25px;
      text-align: center;
        
        }
    
    

}
