page-about {
    .aportacion{
        border: 1px solid #981719;
        display: table;
        vertical-align: middle;
        padding: 10px 15px;
        color: #981719;
        font-weight: bold;
        margin: 0 auto;
        text-indent: 10px;
        text-transform: uppercase;
    }
    
    .text-container{
        padding: 20px;
        text-align: center;
        font-family: "Roboto";
        margin-top: 5%;
        }
    
    
    .text-black{
      text-align: center;
        padding: 5%;
    }
    
    
    .paypal-button img{
      width: 20%;
        
        }
    

}
