page-home {

 .radio {
     background-color: #E9E8E7;
     position: relative;
     width: 85%;
     left: 7%;
     bottom: 7%;
     border-style:solid;
     border-width: thin;
     border-color: #D08E00;
     background-color: white;
     overflow: hidden;
     
     }

    .container-vermas{
        position: relative;
        width: 40%;
        left: 30%;
        bottom: 12px;
        border-style:solid;
        padding: 8px;
        border-width: thin;
        border-color: #D08E00;
        color: #D08E00;
        text-align: center;
    } 

    a.vermas{
        margin-right: 25%;
    }

    .icon-vermas {
        margin-left: 0%; 
    }


    .container-vermas a {
        color: #D08E00;
        text-decoration: none;
        margin-left: 23%; 
    }
    
    
    .tabs-md .tab-button {
    color: white !important;
    }
    
    .button-clear-md {
    color: #D08E00 !important;
    }
  
    a.vermas {
    position: relative;
    text-align: center;
    }
    
    
    .logo {
        width: 20%;
        left: 40%;
        padding: 5%;
        background-image: url(../assets/imgs/logo-maria.png) !important;
        background-repeat:no-repeat;
        background-position: center;
        background-size: 80%;
    
   
    }
    
    audio {
        margin-left: 60px;
   
    }
    
   
    
     
}
