page-home {

 .radio {
     background-color: #f2f3f4;
     position: relative;
     width: 90%;
     left: 5%;
     bottom: 7%;
     border:1px solid #D08E00;
     overflow: hidden;
     .radio-tmp{
        margin: 0;
        display: table;
        float: left;
        margin-top: 10px;
    
     }
     
     }

    .icon-vermas {
        margin-left: 0%; 
    }
    
    .tabs-md .tab-button {
    color: white !important;
    }
    
    .button-clear-md {
    color: #D08E00 !important;
    }
    
    
    .logo {
        width: 20%;
        padding: 10%;
        background: url(../assets/imgs/logo-maria.png) no-repeat center center !important;
        background-size: contain;
        float: left;
        margin-left: 5px;
    }
    
   
    
     
}
