h1, h3, h4,h5{ 
    color:#991B1A;
     }      


.tabbar, .toolbar-background {
    background-image: url(../assets/imgs/bg-tabs.jpg) !important;
    background-repeat: repeat-x !important; 
    background-position: center bottom !important;
    background-size: contain !important;
    }

.toolbar-title{
    color: white;
}

.tabs-md .tab-button {
    color: white !important;
    font-family: 'Roboto'!important;
    font-size: 8px !important;
    }

.ion-ios-paper-outline:before{
    color: white;
    }

.ion-ios-calendar-outline:before{
    color: white;
    }

.ion-ios-heart-outline:before{
    color: white;
    }

.ion-ios-navigate-outline:before{
    color: white;
    }

 .container-vermas{
     background-color: transparent;
     position: relative;
     width: 40%;
     left: 30%;
     bottom: 12px;
     border-style:solid;
     padding: 8px;
     border-width: thin;
     border-color: #D08E00;
     color: #D08E00;
    }
    
    
   .icon-vermas {
     margin-left: 57px;
     }

    
     .container-vermas a {
     color: #D08E00;
     text-decoration: none;
     margin-left: 37px;
     }

.button-clear-md {
    color: #D08E00;
    
}